@use 'index' as *;

:host {
  display: block;
  position: fixed;
  display: flex;
  z-index: 10;
  transition: all 500ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
  left: 0;
  justify-content: center;

  @media (min-width: 600px) {
    flex-direction: column;
    height: calc(100vh - 82px);
    top: 82px;
  }

  @media (max-width: 600px) {
    flex-direction: row;
    bottom: 0;
  }

  .card {
    transition: all 500ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
    padding: 16px 0 12px;
    overflow: hidden;
    background-color: map-get($grey, 700);
    @include shadow(big);
    border-radius: 0 12px 12px 0;

    &::before {
      content: '';
      position: absolute;
      height: 150px;
      width: 50px;
      background-color: map-get($grey, 700);
      z-index: 1;
    }

    @media (max-width: 600px) {
      width: 160px;
      display: flex;
      justify-content: center;
      border-radius: 12px 12px 0 0;
      &::before {
        display: none;
        width: 100vw;
      }
    }
  }
}
