@use 'index' as *;

:host {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 82px;
  @include flex;
  align-items: center;
  padding: 0 8%;
  background-color: var(--scrollbar);

  h1 {
    font-family: 'Rajdhani', sans-serif;
    font-size: 32px;
  }

  img {
    max-width: 9em;
  }

  a {
    height: 20px;
    cursor: pointer;
    color: map-get($grey, 300);

    &:hover {
      color: map-get($orange, 200);
    }
  }

  .dark {
    height: 28px;

    a {
      position: absolute;
      top: 28px;
      right: 8%;
    }
  }

  .social {
    padding-right: 36px;
    display: flex;

    a {
      margin-left: 16px;
    }
  }

  .flex {
    app-logo-icon {
      transform: translateY(4px);
      margin-right: 8px;
    }
    display: flex;
    align-items: center;
  }
}

.rotate-in {
  -webkit-animation: rotate-in-center 0.6s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: rotate-in-center 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

.rotate-out {
  -webkit-animation: rotate-out-center 0.6s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
  animation: rotate-out-center 1s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
}

@-webkit-keyframes rotate-out-center {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: rotate(-360deg);
    transform: rotate(-360deg);
    opacity: 0;
  }
}
@keyframes rotate-out-center {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: rotate(-360deg);
    transform: rotate(-360deg);
    opacity: 0;
  }
}

@-webkit-keyframes rotate-in-center {
  0% {
    -webkit-transform: rotate(-360deg);
    transform: rotate(-360deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
    opacity: 1;
  }
}
@keyframes rotate-in-center {
  0% {
    -webkit-transform: rotate(-360deg);
    transform: rotate(-360deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
    opacity: 1;
  }
}
