@use 'colors' as *;
@use 'dark-mode' as *;
@use 'light-mode' as *;
@use 'scrollbars' as *;
@use 'mixins'as *;

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
}

html {
  @include scrollbars(var(--scrollbar));
}

body {
  font-size: 16px;
  font-family: 'Catamaran', sans-serif;
  line-height: 1.6em;
  overflow-x: hidden;

  transition: background-color 200ms cubic-bezier(0.25, 0.46, 0.45, 0.94), color 400ms ease-in-out;

  &.dark-mode {
    @include darkmode;
  }

  &.light-mode {
    @include lightmode;
  }
}

h1,
h2,
h3,
h4 {
  font-weight: 400;
}

h2 {
  font-size: 2em;
}

h3 {
  text-transform: uppercase;
  color: map-get($orange, 800);
  font-size: 0.8em;
  margin-bottom: 0.5em;
}

p {
  text-align: justify;
  text-justify: inter-word;
}

svg {
  font-size: 14px;
}

a {
  text-decoration: none;
  color: #fff;
  transition: color 150ms ease-in-out;
  cursor: pointer;

  &:hover {
    color: map-get($orange, 200);
  }

  &.active {
    color: map-get($orange, 400);
  }
}

section {
  @include padding;
  height: 100vh;
  position: fixed;
  height: calc(100vh - 82px);
  top: -100vh;
  z-index: -1;
  @include grid(2, 16px);
  align-items: center;

  span {
    position: absolute;
    bottom: 16px;
    left: 8%;
    font-size: 12px;
  }

  @media (max-width: 900px) {
    @include flex(column);
    font-size: 0.8em;
    .img {
      display: none;
    }
    iframe {
      display: none;
    }
    span {
      display: none;
    }
  }
}

.on-screen {
  top: 82px;
}

.bullets {
  z-index: 10;
  position: fixed;
  right: 1.5em;
  top: 82px;
  height: calc(100vh - 82px);
  display: flex;
  flex-direction: column;
  justify-content: center;

  .bullet {
    width: 0.7em;
    height: 0.7em;
    box-shadow: 0 0 0 1.5px map-get($grey, 300);
    border-radius: 50%;
    margin: 8px 0;
    cursor: pointer;
  }

  .filled {
    transition: background-color 200ms cubic-bezier(0.785, 0.135, 0.15, 0.86);
    background-color: map-get($grey, 300);
  }

  @media (max-width: 600px) {
    display: none;
  }
}
