@use 'colors' as *;
@use 'dark-mode' as *;
@use 'light-mode' as *;
@use 'scrollbars' as *;

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
}

html {
  @include scrollbars(var(--scrollbar));
}

body {
  font-size: 16px;
  font-family: 'Catamaran', sans-serif;
  line-height: 1.6em;
  overflow-x: hidden;

  transition: background-color 200ms cubic-bezier(0.25, 0.46, 0.45, 0.94), color 400ms ease-in-out;

  &.dark-mode {
    @include darkmode;
  }

  &.light-mode {
    @include lightmode;
  }
}

h1,
h2,
h3,
h4 {
  font-weight: 400;
}

h2 {
  font-size: 2em;
}

h3 {
  text-transform: uppercase;
  color: map-get($orange, 800);
  font-size: 0.8em;
  margin-bottom: 0.5em;
}

p {
  text-align: justify;
  text-justify: inter-word;
}

svg {
  font-size: 14px;
}

a {
  text-decoration: none;
  color: #fff;
  transition: color 150ms ease-in-out;
  cursor: pointer;

  &:hover {
    color: map-get($orange, 200);
  }

  &.active {
    color: map-get($orange, 400);
  }
}
