$grey: (
  50: #e5e6e7,
  100: #bfc0c2,
  200: #94969a,
  300: #696b71,
  400: #484c52,
  500: #282c34,
  600: #24272f,
  700: #1e2127,
  800: #181b21,
  900: #0f1015,
  A100: #5a83ff,
  A200: #275dff,
  A400: #003df3,
  A700: #0036da,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #ffffff,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #ffffff,
    A400: #ffffff,
    A700: #ffffff,
  ),
);

$green: (
  50: #e5f4f3,
  100: #bee4e1,
  200: #93d3cd,
  300: #67c1b8,
  400: #47b3a9,
  500: #26a69a,
  600: #229e92,
  700: #1c9588,
  800: #178b7e,
  900: #0d7b6c,
  A100: #adfff3,
  A200: #7affec,
  A400: #47ffe4,
  A700: #2dffe0,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);

$red: (
  50: #fbedee,
  100: #f6d3d6,
  200: #f0b6ba,
  300: #e9989e,
  400: #e5828a,
  500: #e06c75,
  600: #dc646d,
  700: #d85962,
  800: #d34f58,
  900: #cb3d45,
  A100: #ffffff,
  A200: #ffe6e8,
  A400: #ffb3b7,
  A700: #ff9a9f,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #000000,
    600: #000000,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);

$orange: (
  50: #fff8e1,
  100: #ffecb5,
  200: #ffe083,
  300: #ffd451,
  400: #ffca2c,
  500: #ffc107,
  600: #ffbb06,
  700: #ffb305,
  800: #ffab04,
  900: #ff9e02,
  A100: #ffffff,
  A200: #fffaf2,
  A400: #ffe4bf,
  A700: #ffd9a6,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #000000,
    600: #000000,
    700: #000000,
    800: #000000,
    900: #000000,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);

$blue: (
  50: #ecf5fd,
  100: #d0e7fa,
  200: #b0d7f7,
  300: #90c7f4,
  400: #79bbf1,
  500: #61afef,
  600: #59a8ed,
  700: #4f9feb,
  800: #4596e8,
  900: #3386e4,
  A100: #ffffff,
  A200: #f6faff,
  A400: #c3deff,
  A700: #aad0ff,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #000000,
    600: #000000,
    700: #000000,
    800: #000000,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);
