@mixin smallX {
  @media screen and (min-width: 300px) {
    @content;
  }
}

@mixin small {
  @media (min-width: 600px) {
    @content;
  }
}

@mixin medium {
  @media (min-width: 900px) {
    @content;
  }
}

@mixin large {
  @media (min-width: 1200px) {
    @content;
  }
}

@mixin largeX {
  @media (min-width: 1900px) {
    @content;
  }
}
