@use "colors" as c;

@mixin scrollbars($bgColor: #fff) {
  ::-webkit-scrollbar {
    height: 20px;
    width: 20px;
  }

  ::-webkit-scrollbar-thumb {
    background-color: #d1c9c9;
    border-radius: 12px;
    border: 7px solid $bgColor;
    padding: 1px;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: map-get(c.$green, 400);
  }
}
