<app-header (onDarkToggled)="toggleDarkMode()" [isDarkMode]="isDarkMode"></app-header>
<app-sidenav>
  <a #menuItem routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
    <app-home-icon></app-home-icon>
    <p>Home</p>
  </a>
  <a #menuItem routerLink="/github" routerLinkActive="active">
    <app-github></app-github>
    <p>Github</p>
  </a>
  <a #menuItem routerLink="/contact" routerLinkActive="active">
    <app-contact-icon></app-contact-icon>
    <p>Contact</p>
  </a>
</app-sidenav>

<router-outlet></router-outlet>
