@use 'mixins' as *;

:host {
  display: block;
  padding-top: 82px;

  img {
    width: 110vw;
    margin-left: -200px;
    top: 10%;
    z-index: -1;
    mix-blend-mode: exclusion;
    opacity: 0.2;
    position: absolute;
    filter: invert(100%);
    max-height: 90vh;
  }

  a {
    padding: 0.5em;
    transition: opacity 500ms ease-in;
    @include flex(flex-start) {
      align-items: center;
    }

    &.active {
      opacity: 1;
    }

    & :first-child {
      z-index: 4;
    }
  }

  p {
    transform: translateY(-2px) translateX(-100px);
    margin-left: 1em;
    transition: all 1.5s cubic-bezier(0.19, 1, 0.22, 1);
  }
}
