@use "index" as *;

:host {
  display: block;
  position: relative;

  h2 {
    font-size: 2em;
  }

  h3 {
    text-transform: uppercase;
    color: map-get($orange, 800);
    font-size: 0.8em;
    margin-bottom: 0.5em;
  }

  .img {
    margin: auto;
    width: 400px;
    height: 400px;
    border-radius: 50%;
    background: url('https://images.unsplash.com/photo-1509624776920-0fac24a9dfda?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1950&q=80');
    background-size: cover;
    img {
      mix-blend-mode: darken;
      max-width: 100%;
      height: 100%;
      border-radius: 50%;
    }
  }

  section {
    @include padding;
    height: 100vh;
    position: fixed;
    height: calc(100vh - 82px);
    top: -100vh;
    z-index: -1;
    @include grid(2, 64px) {
      align-items: center;
    }

    span {
      position: absolute;
      bottom: 16px;
      left: 8%;
      font-size: 12px;
    }

    @media (max-width: 900px) {
      @include flex(column);
      font-size: 0.8em;
      .img {
        display: none;
      }
      span {
        display: none;
      }
    }
  }

  .on-screen {
    top: 82px;
  }

  .fadein-bottom {
    animation: fadein-bottom 2s cubic-bezier(0.19, 1, 0.22, 1);
    top: 82px;
  }

  .fadein-top {
    animation: fadein-top 2s cubic-bezier(0.19, 1, 0.22, 1);
    top: 82px;
  }

  .fadeout-top {
    animation: fadeout-top 2s cubic-bezier(0.19, 1, 0.22, 1);
    top: -100vh;
  }
  .fadeout-bottom {
    animation: fadeout-bottom 2s cubic-bezier(0.19, 1, 0.22, 1);
    top: -100vh;
  }

  .bullets {
    z-index: 10;
    position: fixed;
    right: 1.5em;
    top: 82px;
    height: calc(100vh - 82px);
    display: flex;
    flex-direction: column;
    justify-content: center;

    .bullet {
      width: 0.7em;
      height: 0.7em;
      box-shadow: 0 0 0 1.5px map-get($orange, 800);
      border-radius: 50%;
      margin: 8px 0;
      cursor: pointer;
    }

    .filled {
      transition: background-color 200ms cubic-bezier(0.785, 0.135, 0.15, 0.86);
      background-color: map-get($orange, 400);
    }
  }

  .flex-between {
    @include flex {
      align-items: baseline;
    }
  }
}

@keyframes kenburns-top {
  0% {
    transform: scale(1) translateY(0);
    transform-origin: 50% 16%;
  }
  100% {
    transform: scale(1.25) translateY(-15px);
    transform-origin: top;
  }
}

@keyframes fadein-bottom {
  0% {
    top: 100vh;
  }
  100% {
    top: 82px;
  }
}

@keyframes fadein-top {
  0% {
    top: -100vh;
  }
  100% {
    top: 82px;
  }
}

@keyframes fadeout-top {
  0% {
    top: 82px;
  }
  100% {
    top: -100vh;
  }
}

@keyframes fadeout-bottom {
  0% {
    top: 82px;
  }
  100% {
    top: 100vh;
  }
}
