@use 'index'as *;

:host {
  display: block;
  max-width: 100vw;
  padding: 0 8%;
  overflow: hidden;

  .grid {
    display: grid;
    grid-template-columns: 35% auto;
    align-items: center;
    min-height: calc(100vh - 82px);

    @media (max-width: 900px) {
      display: block;
      margin-top: 64px;
    }
  }

  .chart {
    height: 80%;
    margin: auto;
    width: 100%;
  }

  .github {
    min-height: 350px;
    @include flex(center, column) {
      align-items: flex-start;
    }

    app-github-icon svg {
      width: 6em;
      height: 6em;
    }

    &__title {
      margin-bottom: 1.5em;
    }

    .flex {
      display: flex;
      align-items: baseline;
      gap: 5px;
    }

    h2 {
      font-size: 2.5em;
    }

    .slide-in {
      animation: slide-in-bottom 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
    }
  }

  .card-grid {
    padding: 32px 0 4em;
    @include grid(1, 1em);

    @include medium {
      @include grid(2, 1em);
    }

    @include large {
      @include grid(3, 1em);
    }

    @include largeX {
      @include grid(4, 1em);
    }
  }
}

@keyframes slide-in-bottom {
  0% {
    transform: translateY(1000px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
